{% extends 'base.html' %}

{% block page_title %}{{ object.hostname }}削除確認画面{% endblock page_title %}

{% block content %}
    <div>
        <p>以下のホストを削除しますか？</p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ホストネーム</th>
                    <th>説明</th>
                    <th>ホストタイプ</th>
                    <th>登録日</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ object.hostname }}</td>
                    <td>{{ object.host_id }}</td>
                    <td>{{ object.host_description }}</td>
                    <td>{{ object.kinds }}</td>
                    <td>{{ object.change_date }}</td>
                </tr>
            </tbody>
        </table>
        <form method="POST">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">削除</button>
            <a class="btn btn-primary" href="{% url 'ipledger:hostlist' %}">キャンセル</a>
        </form>
    </div>
{% endblock content %}